@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sacramento&display=swap');
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 15px;
  &-track {
    background: #1a1a1a;
  }
  &-thumb {
    background: #0b0b0b;
    border-radius: 10px;
    &:hover {
      background: #0829e93a;
    }
  }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: $body-font;
  background-color: $bg-color;
  color: $text-color;
  line-height: 1.6;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
