header {
  width: 100%;
  min-height: 100vh;
  background-image: url("/assets/mountain-bg.png");
  background-size: cover;
  background-position: bottom;
  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
    color: #000;
    .dev {
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 8px;
    }
    .dev-description {
      font-size: 20px;
      text-align: center;
      color: #000;
    }
  }
}
main {
  nav {
    background-color: $bg-color;
    position: sticky;
    top: 0;
    left: 0;
  }
  #about {
    width: 100%;
    min-height: 100vh;
    background-color: $bg-color;
    background-image: url("/assets/pattern-bg.png");
    background-size: cover;
    background-position: bottom;
    .about-me {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 120px;
      gap: 20px;
      p {
        max-width: 60%;
        text-align: center;
      }
    }
  }
  #tools {
    width: 100%;
    min-height: 100vh;
    background-color: $bg-color;
    background-image: url("/assets/pattern-bg-3.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    .container {
      width: 40%;
      display: flex;
      flex-direction: column;
    }
    .text {
      gap: 12px;
      display: flex;
      justify-content: center;
      .title {
        text-align: start;
        padding-bottom: 24px;
      }
      span {
        max-width: 80%;
      }
    }
    .image {
      img {
        margin: auto 0;
      }
    }
  }
}
