header {
  width: 100%;
  min-height: 100vh;
  background-image: url("/assets/mountain-bg.png");
  background-size: cover;
  background-position: bottom;
  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
    color: #000;
    .dev {
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 8px;
    }
    .dev-description {
      font-size: 20px;
      text-align: center;
      color: #000;
    }
  }
}
main {
  #about {
    width: 100%;
    min-height: 100vh;
    background-color: $bg-color;
    background-image: url("/assets/pattern-bg.png");
    background-size: cover;
    background-position: bottom;
    nav{
        background-color: $bg-color;
        position: sticky;
        top: 0;
        left: 0;
    }
    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 90px;
        gap: 20px;
        p{
            max-width: 60%;
            text-align: center;
        }
    }
  }
}
