@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sacramento&display=swap");
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #021B31;
}

::-webkit-scrollbar-thumb {
  background: #042949;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0862e97e;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: #021B31;
  color: #B4E0FF;
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

h1 {
  font: 200 80px "Sacramento";
  z-index: 1;
}

.title {
  color: #FF8412;
  font: 300 36px "Roboto";
  letter-spacing: 4px;
}

p,
span {
  font-family: "Roboto";
  color: #fff;
  font-size: 20px;
}

span {
  font-size: 18px;
  font-weight: 300;
}

ul {
  padding: 0;
  list-style: none;
}

nav {
  z-index: 100;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}

nav ul .logo-1 {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

nav ul a {
  text-decoration: none;
  color: #B4E0FF;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  position: relative;
}

nav ul a:hover {
  color: #fff;
}

nav ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav ul a::after {
  position: absolute;
  top: 22px;
  left: 0;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #FF8412;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #0961e4;
  color: #021B31;
  border-radius: 10px;
  padding: 14px 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background-color: #021B31;
  border: 1px solid #0961e4;
  color: #0961e4;
  -webkit-filter: drop-shadow(0px 1px 4px rgba(9, 97, 228, 0.507));
          filter: drop-shadow(0px 1px 4px rgba(9, 97, 228, 0.507));
}

.button:hover svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  fill: #0961e4;
}

img {
  max-width: 100%;
  height: auto;
}

.bx {
  font-size: 36px;
}

#mobile-menu {
  z-index: 101;
  background-color: #021B31;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  width: 100%;
  padding: 0 26px;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-filter: drop-shadow(0 2px 2px #0961e469);
          filter: drop-shadow(0 2px 2px #0961e469);
}

#mobile-menu .logo {
  height: 50px;
}

#mobile-menu #nav-toggle {
  cursor: pointer;
}

#mobile-nav {
  z-index: 100;
  padding: 140px 0px 60px;
  background-color: #021B31;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  top: -100%;
  left: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#mobile-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

#mobile-nav ul .nav-item a {
  text-decoration: none;
  color: #B4E0FF;
  font-weight: 500;
}

#mobile-nav.show-menu {
  top: 0;
  left: 0;
}

header {
  width: 100%;
  min-height: 100vh;
  background-image: url("/assets/mountain-bg.png");
  background-size: cover;
  background-position: bottom;
}

header .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-top: 30px;
  color: #000;
}

header .bio .dev {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 8px;
}

header .bio .dev-description {
  font-size: 20px;
  text-align: center;
  color: #000;
}

main nav {
  background-color: #021B31;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  -webkit-filter: drop-shadow(0 2px 2px #0961e469);
          filter: drop-shadow(0 2px 2px #0961e469);
}

main #about {
  width: 100%;
  min-height: 100vh;
  background-color: #021B31;
  background-image: url("/assets/pattern-bg.png");
  background-size: cover;
  background-position: bottom;
}

main #about .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 150px;
  gap: 20px;
}

main #about .about-me p {
  max-width: 60%;
  text-align: center;
}

main #tools {
  width: 100%;
  min-height: 100vh;
  background-color: #021B31;
  background-image: url("/assets/pattern-bg-3.png");
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #tools .tools-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #tools .tools-content .container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #tools .tools-content .text {
  gap: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #tools .tools-content .text .title {
  text-align: start;
  padding-bottom: 24px;
}

main #tools .tools-content .text span {
  max-width: 80%;
}

main #tools .tools-content .image {
  padding: 40px;
}

main #tools .tools-content .image img {
  margin: auto 0;
}

main #tools .projects-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 120px 0 100px;
}

main #tools .projects-text p {
  margin: 26px auto;
}

main #projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: auto;
}

main #projects .project .container {
  width: 50%;
}

main #projects .project .video {
  overflow: hidden;
}

main #projects .project .video video {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main #projects .project .text {
  background-color: #FF8412;
  background-image: url("/assets/pattern-bg-2.png");
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 80px;
  gap: 20px;
}

main #projects .project .text h1 {
  font: 700 36px "Roboto";
  color: #0961e4;
  -webkit-filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.301));
          filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.301));
}

main #projects .project .text span {
  font-weight: 500;
  max-width: 600px;
}

main #projects .project .text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

main #projects .project .text ul li {
  color: #0961e4;
  font-weight: 700;
  font-size: 14px;
}

main #projects .project .text .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

main #projects .project .text .buttons .button {
  font-weight: 600;
  font-size: 12px;
}

main #projects .project .text .buttons .button:hover {
  background-color: #064199;
  border: none;
  color: #47a4f5;
  -webkit-filter: drop-shadow(0px 1px 4px #0961e4b7);
          filter: drop-shadow(0px 1px 4px #0961e4b7);
}

main #projects .project .text .buttons .button:hover svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  fill: #47a4f5;
}

main #contact {
  background-color: #021B31;
  background-image: url("/assets/pattern-bg.png");
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  height: 100vh;
}

main #contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

main #contact .social .contact-bio {
  font-size: 20px;
  font-weight: 400;
  max-width: 400px;
}

main #contact .social .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B4E0FF;
  gap: 8px;
}

main #contact .social .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

main #contact .social .icons .icon-button:hover {
  -webkit-filter: drop-shadow(0px 1px 4px #0961e4);
          filter: drop-shadow(0px 1px 4px #0961e4);
}

main #contact .social .icons .icon-button:hover svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  fill: #021B31;
}

main #contact .social .icons .button {
  height: 50px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

main #contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #contact .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 80%;
}

main #contact .form form .input {
  position: relative;
}

main #contact .form form .input .icon {
  width: 30px;
  position: absolute;
  z-index: 10;
  top: calc(100% / 2 - 14px);
  left: 15px;
}

main #contact .form form .textarea {
  position: relative;
}

main #contact .form form .textarea .icon {
  top: calc(100% / 2 - 28px);
  left: 15px;
}

main #contact .form form input,
main #contact .form form textarea {
  font-size: 20px;
  font: 300 18px "Roboto";
  padding: 14px 20px 14px 60px;
  width: 100%;
  color: #fff;
  background: #023F74;
  background-color: -internal-light-dark(#fff);
  border: none;
  border-radius: 8px;
}

main #contact .form form input::-webkit-input-placeholder,
main #contact .form form textarea::-webkit-input-placeholder {
  color: #B4E0FF;
}

main #contact .form form input:-ms-input-placeholder,
main #contact .form form textarea:-ms-input-placeholder {
  color: #B4E0FF;
}

main #contact .form form input::-ms-input-placeholder,
main #contact .form form textarea::-ms-input-placeholder {
  color: #B4E0FF;
}

main #contact .form form input::placeholder,
main #contact .form form textarea::placeholder {
  color: #B4E0FF;
}

main #contact .form form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: none;
  font: 500 20px "Roboto";
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #021B31;
  height: 10vh;
  max-height: 100px;
  color: #B4E0FF;
  width: 100%;
  padding: 0 120px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0 -2px 2px #0961e469);
          filter: drop-shadow(0 -2px 2px #0961e469);
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  font: 500 16px "Roboto";
  gap: 10px;
}

footer .icons {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}

footer .icons a svg {
  width: 27px;
  height: auto;
}

footer .icons a:hover svg {
  -webkit-filter: drop-shadow(0 0 3px #B4E0FF);
          filter: drop-shadow(0 0 3px #B4E0FF);
}

footer .icons a:hover svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  fill: #021B31;
  background: #021B31;
}

@media (max-width: 1200px) {
  main #projects .project .text {
    padding: 0 30px;
    gap: 10px;
  }
  main #projects .project h1 {
    font-size: 28px;
  }
  main #projects .project span {
    font-size: 14px;
  }
  main #projects .project ul li {
    font-size: 10px;
  }
  main #projects .project .buttons .button {
    padding: 10px 20px;
  }
}

@media (max-width: 920px) {
  p,
  span {
    font-size: 16px;
  }
  .button {
    padding: 10px 20px;
  }
  main #projects .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #projects .project .container {
    width: 100%;
  }
  main #projects .project .video {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main #projects .project .text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px;
    text-align: center;
  }
  main #tools .tools-content .container {
    width: 45%;
  }
  main #contact .container {
    width: 45%;
  }
  footer {
    padding: 0 80px;
  }
}

@media (max-width: 800px) {
  #mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav {
    display: none;
  }
  header {
    padding-top: 130px;
    background-image: url("/assets/mountain-bg-2.png");
  }
  header .bio {
    gap: 15px;
  }
  header .bio h1 {
    font-size: 40px;
  }
  header .bio .dev {
    font-size: 9px;
    letter-spacing: 5px;
    min-width: 240px;
    text-align: center;
  }
  header .bio .dev-description {
    font-size: 16px;
    max-width: 320px;
  }
  main #about {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  main #about .about-me {
    gap: 30px;
  }
  main #about .about-me p {
    max-width: 80%;
  }
  main #tools {
    padding-top: 170px;
  }
  main #tools .tools-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #tools .tools-content .container {
    width: 80%;
  }
  main #tools .tools-content .text .title {
    text-align: center;
  }
  main #tools .tools-content .text span {
    max-width: 100%;
    text-align: center;
  }
  main #tools .projects-text p {
    max-width: 80%;
    text-align: center;
  }
  main #projects .project .text {
    padding: 50px;
  }
  main #projects .project .text h1 {
    font-size: 26px;
  }
  main #projects .project .text ul li {
    font-size: 12px;
  }
  main #contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #contact .container {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 60px 0;
  }
  main #contact .social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #contact .social .contact-bio {
    text-align: center;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    margin: 10px 0;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding: 10px;
  }
}

@media (max-width: 550px) {
  header {
    background-image: url("/assets/mountain-bg-3.png");
    background-position: center;
    padding-top: 180px;
  }
  header .bio {
    gap: 25px;
  }
}

.contact-text {
  width: 100%;
  min-height: 100vh;
  background-color: #021B31;
  background-image: url("/assets/pattern-bg.png");
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 250px;
  gap: 30px;
}

.contact-text img {
  position: fixed;
  top: 5%;
}

.contact-text .title {
  text-align: center;
}

.contact-text p {
  max-width: 60%;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #021B31;
  height: 10vh;
  max-height: 100px;
  color: #B4E0FF;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: 0 120px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0 -2px 2px #0961e469);
          filter: drop-shadow(0 -2px 2px #0961e469);
}

.footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  font: 500 16px "Roboto";
  gap: 10px;
}

.footer .icons {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}

.footer .icons a svg {
  width: 27px;
  height: auto;
}

.footer .icons a:hover svg {
  -webkit-filter: drop-shadow(0 0 3px #B4E0FF);
          filter: drop-shadow(0 0 3px #B4E0FF);
}

.footer .icons a:hover svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  fill: #021B31;
  background: #021B31;
}

@media (max-width: 800px) {
  .contact-text {
    padding: 300px 40px;
    gap: 40px;
  }
  .contact-text .title {
    font-size: 30px;
  }
  .contact-text p {
    max-width: 80%;
    text-align: center;
  }
  .footer {
    padding: 10px;
  }
}
/*# sourceMappingURL=style.css.map */